@import "../../../color-variables";

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.character-card {
  background: $dark-border;
  border: 2px solid $gold-accent;
  padding: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;

  text-decoration: none;

  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }

  .image-wrapper {
    width: 100%;
    //aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px solid $gold-accent;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      filter: sepia(0.3) contrast(1.1);
    }
  }

  .info-box {
    background-color: #d9c5a3;
    margin-top: 8px;
    padding: 15px;
    text-align: center;
    border: 1px solid $dark-border;

    .codename {
      font-size: 1.3rem;
      color: $text-dark;
      margin: 0;
      font-weight: bold;
      text-transform: uppercase;
    }

    .nome {
      font-size: 1.05rem;
      color: #5a4a35;
      margin: 4px 0;
      font-style: italic;
    }

    .classe {
      font-size: 1rem;
      color: $text-dark;
      border-top: 1px solid rgba(0,0,0,0.1);
      padding-top: 4px;
      margin: 0;
    }
  }
}

@media (min-width: 1024px) {
  .character-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
