body {
  background-image: url("/main-background.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

@media (max-width: 768px) {
  .character-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;
    padding: 10px;
  }

  .character-card .info-box {
    padding: 10px;
    .codename { font-size: 0.9rem; }
    .nome { font-size: 0.8rem; }
  }
}
