@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Cinzel", sans-serif;
}

html, body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9c5a3;
  background-image: url("/main-background.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #1a150f;
  overflow-x: hidden;
}
